@use "base/variables" as v;
@use "base/mixins" as m;

.bloques {
  @include m.contenedor;
  @include m.pc {
    margin-top: 10rem;
  }

  &__grid {
    @include  m.grid(1, 3rem);

    @include m.pc {
      @include m.grid(2, 3rem);
    }
  }
}

.bloque {
  padding: 2rem;
  color: v.$blanco;

  &:nth-child(1){
    @include m.bg_gradient(#f97316);
  }

  &:nth-child(2){
    @include m.bg_gradient(#a855f7);
  }

  &:nth-child(3){
    @include m.bg_gradient(#59910b);
  }

  &:nth-child(4){
    @include m.bg_gradient(#17769e);
  }

  &__heading {
    margin: 1rem 0 2rem 0;
    font-size: 3.5rem;
  }

  &__texto {
    margin: 1rem 0;

    &--cantidad {
      margin-top: 5rem;
      font-size: 6rem;
      font-weight: v.$black;
      text-align: center;
    }
  }
}